<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  
  <link rel="stylesheet" href="./styles/style.css">
</head>

<body>
  <section class="error-page">
    <img src="./images/error-image.svg" alt="">
    <h1>404</h1>
    <h2>The game has Broke?</h2>
    <p>This page is not available, please continue back to the home page</p>
    <a href="/home">Go to homepage</a>
  </section>
</body>
</html>