<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Together - Home</title>
  
  <link rel="stylesheet" href="./styles/style.css">

  <script src="/script/script.js"></script>
</head>

<body>
  <header class="flex-center fixed-header">
    <ul>
      <li><a href="#"><img class="logo" src="./images/icons/logo.png" alt="Logo"/></a></li>
      <div>
        <li><a href="#"><img class="profile_logo" src="./images/icons/search.png" alt="Search"/></a></li>
        <li><a href="#"><img class="profile_logo" src="./images/icons/settings.png" alt="Settings"/></a></li>
      </div>
    </ul>
  </header>

  <main>
    <section class="group-bg">
      <div class="group">
        <div class="game-platform">
          <img src="./images/bo1-canvas.png" alt="">
          <img src="./images/icons/steam.png" alt="">
        </div>
        <div class="user-name">
          <img src="./images/icons/user-pic.png" alt="">
          <h2>Sienna Lara has created a group</h2>
        </div>
        <div class="info">
          <div class="info-chat"> 
            <img src="./images/icons/chat.png" alt="">
            <h3>2</h3>
          </div class="Join">
          <button class="join-button ">join</button>
        </div>
      </div>
    </section>

    <section class="fav-games">
      <h2>Popular games</h2>

      <div class="features">
        <% if (games) { %>
          <% games.forEach((game) => { %> 
            <figure>
              <button class="add-button" onclick="like(<%= game.id %>, <%= userId %>)">Add</button>
              <img src="/images/game-icons/game-icon-<%= game.id %>.png" alt="" />
              <figcaption></figcaption>
            </figure>
          <% }); }%>
      </div>
    </section>
    
    </section>
  </main>

  <footer class="fixed-footer flex-center">
    <nav>
      <ul>
        <li><a href="#"><img class="icon" src="./images/icons/home-selected.png" alt="Home"/></a></li>
        <li><a href="#"><img class="icon" src="./images/icons/notivications.png" alt="Notifications"/></a></li>
        <li><a href="#"><img class="icon" src="./images/icons/chat.png" alt="Friends"/></a></li>
        <li><a href="/profile/<%= userId %>"><img class="icon" src="./images/icons/profile.png" alt="Profile"/></a></li>
      </ul>
    </nav>
  </footer>
  
</body>
</html>