* {
  margin: 0;
  padding: 0;
}

:root {
  /* Main colours */
  --colour-huisstyle-VeryDarkBlue: #15202C;
  --colour-huisstyle-grey: lightgrey;
  --colour-huisstyle-white: white;

  /* colour pages */
  --bg-body: var(--colour-huisstyle-white);
  --colour-header: var(--colour-huisstyle-VeryDarkBlue);
  --colour-footer: var(--colour-huisstyle-VeryDarkBlue);

  --bg-group: var(--colour-huisstyle-VeryDarkBlue);
  --bg-section: var(--colour-huisstyle-grey);
  --bg-platform: var(--colour-huisstyle-white);

  --colour-button: var(--colour-huisstyle-white);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  max-width: 420px !important;
  margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;

  font-family: "FilsonPro", sans-serif;
}

main {
  flex-grow: 1;
  margin-top: 74px;
}



/* ********************** */
/* ******* header ******* */
/* ********************** */

header {
  background: var(--colour-header);
  text-align: center;
  z-index: 100;
}

header li {
  display: inline-block;
  flex-basis: auto;
  padding: 0.55em;
}



/* ********************** */
/* ******** Home ******** */
/* ********************** */

.group-bg {
  color: var(--bg-body);

  padding: 0.5em 1.5em 1em;
}

.group {
  position: relative;
  background-color: var(--bg-group);
  border-radius: 5%;
  padding: 1em;
}

.user-name {
  position: absolute;
  display: flex;
  align-items: center;

  gap: 0.5em;

  top: 5%;
}

.user-name img {
  border-radius: 15%;
  width: 3em;
}

.user-name h2 {
  font-size: 1em;
}

.game-platform {
  position: relative;
  top: 0;
  left: 0;
}

.game-platform img:nth-of-type(1) {
  position: relative;

  width: 100%;

  top: 0;
  left: 0;
}

.game-platform img:nth-of-type(2) {
  position: absolute;

  top: 73%;
  left: 85%;

  background-color: var(--bg-platform);
  border-radius: 50%;
}

.info, .info-chat {
  display: flex;
  align-items: center;
}

.info {
  justify-content: space-between;
  padding: 0.2em 0;
}

.info img {
  width: 2em;
}

.info-chat {
  gap: 0.5em;
}

h3 {
  font-size: 1.5em;
}

.join-button {
  font-size: 1.5em;
  font-weight: bold;

  padding: 0.25em 0.75em;
  border-radius: 12.5px;
}



/* ********************** */
/* ******* Profile ********/
/* ********************** */

.profile {
  padding-top: 1em;
}

.h1-profile {
  font-size: 2em;
  font-weight: 600;
  padding: .5em 0;
  text-align: center
}

.content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2em;
}

.user a:nth-of-type(even) img {
  width: 8em;
}

.user a:nth-of-type(odd) img {
  width: 3em;
}

.platform a img {
  width: 3em;
}

img {
  max-width: 100%;
  max-height: 70vh;
}

.white-box_1 {
  background-color: var(--bg-body);
  padding: 1em;
}

.white-box_2 {
  background-color: var(--bg-body);
  padding: 1.6em;
}



/* ********************** */
/* Profile favorite games */
/* ********************** */

.fav-games {
  background-color: var(--bg-section);
}

.fav-games h2 {
  padding: 1em 0 0 1.2em;
}

.features {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em; 
}

.remove-button {
  position: absolute;
  background: var(--colour-button);
  padding: .7em;
  z-index: 90;
  border-radius: 50%;

  top: -10%;
  left: 80%;
}

.add-button {
  position: absolute;
  background: var(--colour-button);
  padding: .5em;
  z-index: 90;
  border-radius: 1em;

  top: -10%;
  left: 70%;
}

.features figure {
  text-align: center;
  width: 7em;

  position: relative;
}

.features figure img {
  border-radius: 9%;
  box-shadow: black 0 0 1em;
  max-height: 70vh;
  max-width: 100%;

  width: 6.5em;
}

figcaption {
  font-size: 1.3em;
  padding: 0.5em 1em 1em 1em;
}

.flex-center ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* ********************** */
/* ******** Footer ********/
/* ********************** */

nav li {
  display: inline-block;
  flex-basis: auto;
  padding: 0.6em;
}

footer nav {
  background: var(--colour-footer);
  border-radius: 15px;
  margin: 0 5px;
}

.fixed-footer {
  max-width: 420px !important;
  margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;

  position: fixed;
  bottom: 5px;
  width: 100%;
}

.fixed-header {
  max-width: 420px !important;
  margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;

  position: fixed;
  width: 100%;
}



/* ******************* */
/* Error page settings */
/* ******************* */

.error-page {
  text-align: center;
}

.error-page img {
  max-width: 70%;
  max-height: 70vh;
  padding-top: 1em;
}

.error-page h1 {
  font-size: 6em;
  padding-top: .5em;
}

.error-page h2 {
  font-size: 2em;
  padding: 0.5em 0 1em;
}

.error-page p {
  font-size: 1.5em;
  padding-bottom: 4em;
}

.error-page a {
  color: var(--bg-body);
  font-weight: 700;
  text-decoration: none;

  padding: 2em;
  background-color: var(--colour-footer);
  border-radius: 1em;
}